@import-normalize;
@import "helper";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ol,
  ul {
    list-style: none;
  }
}

*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body{
  font-family: $font-heiti;
  font-size: 14px;
  line-height: 1.2;
}